body {
    margin: 0;
    padding: 0;
    background: linear-gradient(-45deg, #8f4630, #51152c, #12566f, #145848);    
    color: #fff;
    animation: gradient 10s ease infinite;
    background-size: 800% 800%;
    height: 100vh;
    font-family: 'Orbitron', sans-serif;
}
@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  header {
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    padding: 20px;
    background-color: rgb(0, 0, 0);
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.logo {
    font-size: 1.5em;
    color: #00ffcc;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

nav ul li {
    margin: 0 30px;
    font-size: small;
}

nav ul li a {
    text-decoration: none;
    color: #fff ; 
    font-size: 1.2em;
    transition: color 0.3s ease, transform 0.3s ease;
}

nav ul li a:hover {
    color: #00ffcc !important;
    cursor: pointer;
    transform: scale(1.2);
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

.button-container {
    text-align: center;
    margin-bottom: 20px;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.hidden {
    display: none;
}

.group {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.group h2 {
    color: #4CAF50;
    margin-top: 0;
}

.user {
    margin-bottom: 10px;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 5px;
    position: relative;
}

#closeModal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 20px;
}

#closeModal:hover,
#closeModal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input[type="text"],
input[type="file"] {
    margin-top: 5px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ddd;
}

input[type="submit"] {
    margin-top: 20px;
}