#root {
  max-width: 1280px;
}
.scrollbar-hidden {
  /* For Firefox */
  scrollbar-width: none;
  /* For IE, Edge */
  -ms-overflow-style: none;
}

/* For Chrome, Safari, and Opera */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}